<ion-header>
    <ion-toolbar>
      <ion-icon name="arrow-back" (click)='canGoBack()'></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="iptBox">
      <form [formGroup]="profileForm" (ngSubmit)="submitFn()">
          <div class="iptItemBox">
              <ion-input type="tel" name="mobile" placeholder="手机号码" class="has iptItem" formControlName="mobile" required pattern="^1[3|4|5|7|8][0-9]\d{4,8}$" (ionChange)="changInput('mobile')"></ion-input>
              <div class="error" *ngIf="rules.mobile">请输入正确格式的手机</div>
          </div>

          <div class="iptItemBox">
            <ion-row class="text1">
              <ion-col size="8" style="padding:0;"style="padding:0;">
                <ion-input type="number" name="verifyCode" placeholder="短信验证" formControlName="verifyCode" class="iptItem" required  pattern="^[0-9]{6}$" (ionChange)="changInput('verifyCode')"></ion-input>
              </ion-col>
              <ion-col size="4" style="line-height: 36px;padding:0;text-align: right;font-size:14px;color:#4CBBFB;" (click)="sentCode(flag)">{{sentMsg}}</ion-col>
            </ion-row>
            <div class="error" *ngIf="rules.verifyCode">请输入验证码</div>
          </div>
          
          <div class="iptItemBox">
            <ion-input name="password" type="password" placeholder="登录密码(6-20位 字母、数字、下划线)"  formControlName="password" class="has iptItem"  required pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$" (ionChange)="changInput('password')"></ion-input>
            <div class="error" *ngIf="rules.password">请输入密码（由6-20位 字母、数字、下划线组成）</div>
          </div>

          <div class="iptItemBox">
            <ion-input name="rePassword" type="password" placeholder="确认密码"  formControlName="rePassword" class="has iptItem"  required (ionChange)="changInput('rePassword')"></ion-input>
            <div class="error" *ngIf="rules.rePassword">两次密码保持一致</div>
          </div>
          
          <ion-button type="submit" expand="full" shape="round" color="baseColor" class="register" [disabled]="!profileForm.valid">确定</ion-button>
      </form>
  </div>
</ion-content>
