<ion-header>
  <app-title [parentVal]="parentVal"></app-title>
</ion-header>

<ion-content>
  <div class="part1"></div>

  <div class="part2" padding>
    <div class="part2-1 partO">
      <p>1、君子玉每10分钟产生一次；</p>
      <p>2、24小时未领取，将不再产生新的君子玉，领取后重新产生 君子玉；</p>
      <p>3、可通过C2C或后期交易平台获得君子玉。</p>
    </div>

    <div class="part2-1 partl">
      <p>1、学识可通过礼拜、邀请好友、做任务、购物等方式获得；</p>
      <p>2、同一时间内，学识越大获得的君子玉越多</p>
    </div>

    <div class="partM">
        使用区块链技术将学习国学知识变成一种数字资产能让更多的国人
        学习圣人，读圣贤书，促进国家社会的稳定繁荣，丰富国人的精神
        面貌。与其它资产不同，君子玉是一种利他的资产。所有的君子玉
        数字资产将被记录在国学链上，国学链上将记录公益项目的捐赠金
        额记录，资金流向，公开透明，共同促进国学的发展，社会的繁荣，
        未来，国学链将成为公链，更多的教育类应用将在国学链上诞生。      
        <p>——全球首个国学区块链应用</p>
    </div>
  </div>
</ion-content>
