@import './src/assets/scss/rem.scss';
ion-content{
	.address{
		width:100%;
		padding:pxToRem(50) 0;
		>img{
			width:pxToRem(45);
			margin-right:pxToRem(40);
			vertical-align: middle
		}
		span{
			font-size:pxToRem(30);
			vertical-align: middle
		}
		.ionIcon{
			float:right;
			font-size:pxToRem(40);
		}
	}

	.hasAddress{
		padding-left:pxToRem(100);
		position:relative;
		>img{
			width:pxToRem(45);
			position: absolute;
			left:0;
			top:0;
		}
		p{
			.ionIcon{
				float:right;
				font-size:pxToRem(26);
			}
		}
	}

	.Img{
		width:100%;
		height:auto;
		margin-bottom:pxToRem(30);
	}
	.item{
		width:100%;
		height:pxToRem(230);
		padding-bottom:pxToRem(20);
		border-bottom:1px solid #999;
		.fl{
			float:left;
			width:35%;
			height:100%;
			img{
				width:100%;
				height:100%;
			}
		}
		.fr{
			float:left;
			width:65%;
			height:100%;
			padding-left:pxToRem(15);
			box-sizing: border-box;
			p{
				margin:0 0 pxToRem(35) 0;
				font-size:pxToRem(28);
			}
			.add{
				width:pxToRem(280);
				height:pxToRem(60);
				float:right;
				border:1px solid #999;
				box-sizing: border-box;
				span{
					display: block;
					height:100%;
					line-height:pxToRem(60);
					float:left;
					box-sizing: border-box;
					text-align: center;
				}
				span:nth-child(1){
					width:pxToRem(60);
				}
				span:nth-child(2){
					width:pxToRem(153);
					border-right: 1px solid #999;
					border-left: 1px solid #999;
					box-sizing: border-box;
				}
				span:nth-child(3){
					width:pxToRem(60);
				}
			}
		}
	}
	.listBox{
		margin-top:pxToRem(30);
		.list{
			margin-bottom:pxToRem(10);
			height:pxToRem(80);
			line-height:pxToRem(80);
			border-bottom:1px solid #999;
			span{
				font-size:pxToRem(26);
				line-height:pxToRem(80);
			}
			span:nth-child(1){
				float:left;
			}
			span:nth-child(2){
				float: right;;
			}
		}
	}
}

.footMain{
	height:pxToRem(95);
	width:100%;
	.fl{
		float:left;
		height:100%;
		line-height:pxToRem(95);
		width:50%;
		padding-left:pxToRem(15);
		box-sizing: border-box;
		font-size:pxToRem(30);
		span{
			font-weight: 700;
		}
	}
	.fr{
		float:left;
		height:100%;
		line-height:pxToRem(95);
		width:50%;
		background:#FFB400;
		text-align: center;
		color:#fff;
		font-size:pxToRem(30);
	}
}