<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <span class="iconfont icon-shu1"></span>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <span class="iconfont icon-50"></span>
      <ion-label>交易</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <span class="iconfont icon-pot"></span>
      <ion-label>礼拜</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <span class="iconfont icon-store_icon"></span>
      <ion-label>商城</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <span class="iconfont icon-wode"></span>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
