<ion-header class="isRulesPage">
    <app-title [parentVal]="parentVal"></app-title>
</ion-header>

<ion-content>
    <div class="main">
        <div class="item">
            <span>1. 增加算力 </span>算力越多，每分钟生成的佩玉越多，算力可以通过购买商城商品、邀请好友、每日礼拜获得。
        </div>
        <div class="item">
            <span>2. 交易挖矿 </span>为奖励早期核心用户，现启动交易挖矿模式，用户可以在市场中购买他人出售的佩玉，主动购买将额外获得购买数量4%的佩玉奖励（例如张三主动购买李四出售的100枚佩玉，将额外获得4枚佩玉的奖励，买到的佩玉数为104枚），在市场中佩玉价格的每日上涨，越早交易获利更多。
        </div>
        <div class="item">
            <span>3. 交易所购买 </span>佩玉（YU）币在10月国庆期间将上线各大交易所，用户可直接在交易所购买。
        </div>
        <div class="item" style="margin-bottom:0;">
            <span>4. 社区奖励 </span>参加社区活动将获得丰厚的佩玉奖励。
        </div>
    </div>
</ion-content>
