@import './src/assets/scss/rem.scss';
ion-content{
	.title{
		font-size: pxToRem(28);
		font-weight: 700;
		margin-bottom:pxToRem(40);
	}
	>p{
		margin:0;
		font-size: pxToRem(26);
		margin-bottom:pxToRem(40);
	}
	.iptItemBox{
		position: relative;
		margin-bottom:20px;
		.error{
			width:100%;
			height:20px;
			line-height:20px;
			position: absolute;
			left:0;
			top:100%;
			font-size:12px;
			color:red;
			transition: all 0.8s;
			box-sizing: border-box;
			padding-left:22%;
		}
	}
	.item{
		width:100%;
		height:pxToRem(76);
		font-size: pxToRem(24);
		line-height:pxToRem(76);
		margin-bottom:pxToRem(40);
		.fl{
			float:left;
			width:22%;
			height:100%;
		}
		.fr{
			float:left;
			width:78%;
			height:100%;
			border-bottom:1px solid #F39800;
			input[type="text"],input[type="password"],input[type="number"]{
				height:100%;
				border:none;
				outline: none;
				padding-left:pxToRem(20);
				box-sizing: border-box;
			}
			.ipt1{
				width:100%;
			}
			.ipt2{
				width:60%;
				height:100%;
				float:left;
			}
			>span{
				display: block;
				text-align: center;
				width:pxToRem(140);
				height:pxToRem(58);
				line-height:pxToRem(58);
				float: right;
				font-size:pxToRem(22);
				background:#6C4720;
				color:#fff;
			}
		}
	}
}