<ion-header>
  <app-title [parentVal]="parentVal"></app-title>
</ion-header>

<ion-content padding class="rePw">
  <div class="title">请设置支付密码再进行交易，保障您的财产安全</div>
  <p>注册手机号: {{phoneNumber}}</p>
  <p>支付宝账号: {{alipayAccount}}</p>

  <form [formGroup]="profileForm" (ngSubmit)="submit()">
      <div class="iptItemBox">
          <div class="item">
            <div class="fl">支付密码</div>
            <div class="fr">
              <ion-input type="password" placeholder="请输入6位支付密码" formControlName="paypsw" required pattern="^[0-9]{6}$" (ionChange)="changInput('paypsw')" class="ipt1"></ion-input>
            </div>
          </div>
          <div class="error" *ngIf="rules.paypsw">请输入由6位数字组成的支付密码</div>
      </div>
    
      <div class="iptItemBox">
          <div class="item">
            <div class="fl">确认密码</div>
            <div class="fr">
              <ion-input type="password" placeholder="请确认6位支付密码" formControlName="rePaypsw" required pattern="^[0-9]{6}$" (ionChange)="changInput('rePaypsw')" class="ipt1"></ion-input>
            </div>
          </div>
          <div class="error" *ngIf="rules.rePaypsw">两次支付密码保持一致</div>
      </div>
    
      <div class="iptItemBox">
          <div class="item">
            <div class="fl">验证码</div>
            <div class="fr">
              <ion-input type="number" placeholder="请输入验证码" formControlName="verifyCode" class="iptItem" required  pattern="^[0-9]{6}$" (ionChange)="changInput('verifyCode')" class="ipt2"></ion-input>
              <span (click)="sentCode(flag)">{{sentMsg}}</span>
            </div>
          </div>
          <div class="error" *ngIf="rules.verifyCode">请输入验证码</div>
      </div>
    
    <br/>
    <br/>
    <ion-button type="submit" expand="full" shape="round" color="baseColor" [disabled]="!profileForm.valid">立即提交</ion-button>
  </form>
  
</ion-content>
