<ion-header>
  <app-title [parentVal]="parentVal"></app-title>
</ion-header>

<ion-content>
  <div class="title" padding>
    订单信息
    <!-- <span class="fr" (click)="cancel(16)" *ngIf="result==2">取消订单</span> -->
  </div>

  <div class="msg" padding>
    <div class="item">
      <span class="fl">订单号：</span>
      <span class="fr ">{{orderno}}</span>
    </div>
    <div class="item">
      <span class="fl">交易佩玉数量：</span>
      <span class="fr weight">{{jadeInfo.num||0}}</span>
    </div>
    <div class="item">
      <span class="fl">总金额：</span>
      <span class="fr money weight">￥{{jadeInfo.totalPrice||0}}</span>
    </div>
    <div class="item">
      <span class="fl">卖家姓名：</span>
      <span class="fr weight">{{jadeInfo.sellerRealname||'***'}}</span>
    </div>
    <div class="item">
      <span class="fl">卖家手机号：</span>
      <span class="fr weight">{{jadeInfo.sellerMobile}}</span>
    </div>
    <div class="item">
      <span class="fl">卖家支付宝账号：</span>
      <span class="fr weight">
        <i class="icon-icon- iconfont"></i>
        {{jadeInfo.sellerAlipayAccount}}</span>
    </div>
  </div>

  <div class="itemBox" *ngIf="result==2||result==1">
      <div class="payIcon"><i class="icon-zhifubaofukuan iconfont"></i></div>

      <div class="tips">
        <p>请前根据订单信息前往支付宝向对方付款</p>
        <p>付款完成后请点击确认付款</p>
        <br/>
        <p>剩余付款时间 <span class="time">{{time}}</span></p>
      </div>
    
      <ion-button expand="full" shape="round" color="baseColor" (click)="alreadyPay()">我已付款</ion-button>
      <p class="tips2">（恶意点击付款将被取冻结账户)</p>
  </div>

  <div class="itemBox" *ngIf="result==3">
    <div class="pendding">
      <p><i class="icon-shalou iconfont icon1"></i></p>
      <p>已付款，等待对方放行</p>
    </div>
  </div>

  <div class="itemBox" *ngIf="result == 4">
    <div class="pendding">
      <p><i class="icon-wancheng iconfont icon2"></i></p>
      <p>交易完成</p>
    </div>
  </div>
  <p class="tips3">如有问题请联系微信号：Havengogo</p>
</ion-content>

<app-pay-popup *ngIf="popupState" (fromChild)="receiveVal($event)" [orderno]="orderno" [type]="1"></app-pay-popup>
