@import './src/assets/scss/rem.scss';
ion-content{
	.item:after{
		content: "";
		display: block;
		clear: both;
	}
	.item{
		font-size:pxToRem(30);
		.fl{
			float:left;
			width:20%;
			height:pxToRem(76);
			line-height:pxToRem(76);
			text-align: center;
			i{
				font-size:pxToRem(60);
			}
		}
		.fm{
			float:left;
			width:40%;
			height:pxToRem(76);
			line-height:pxToRem(76);
		}
		.fr{
			float:left;
			width:40%;
			height:pxToRem(76);
			line-height:pxToRem(76);
			text-align: right
		}
	}
}