<ion-header>
  <app-title [parentVal]="parentVal"></app-title>
</ion-header>

<ion-content padding>
  <div class="item">
    <div class="fl">
      <i class="iconfont icon-weixin" style="color:#00C800;"></i>
    </div>
    <div class="fm">请加客服微信1</div>
    <div class="fr">Havengogo</div>
  </div>
  <div class="item">
    <div class="fl"></div>
    <div class="fm">请加客服微信2</div>
    <div class="fr">Tiramisuuuuuuu</div>
  </div>
  <br/>
  <div class="item">
    <div class="fl">
      <i class="iconfont icon-qq" style="color:#68A5E1;"></i>
    </div>
    <div class="fm">请加官方QQ群1</div>
    <div class="fr">173345245</div>
  </div>
  <div class="item">
    <div class="fl"></div>
    <div class="fm">请加官方QQ群2</div>
    <div class="fr">877796231</div>
  </div>
</ion-content>
